{% extends '_layouts/base.html' %}

{% block content %}
    <div class="page-content">
        <div class="section">
			<div class="container">
				<div class="row">
					<!-- -------------------------------------------------------- -->
                    <h3 style="color: darkcyan; text-align: center; font-style: italic">
                        Контент сторінки {{ title }}
                    </h3>
					<!-- -------------------------------------------------------- -->
				</div>
			</div>
		</div>
    </div>
{% endblock %}